In [2]:
#creation of list
l=[]

In [3]:
l=[1,2,3]

In [4]:
print(l)

[1, 2, 3]

In [5]:
li=[1,2,"parikh",3.5]

In [6]:
print(li)

[1, 2, 'parikh', 3.5]

In [7]:
type(li)

list

In [8]:
#access and change element in list

In [9]:
print(li[3])

3.5

In [10]:
li[3]="abhi"

In [11]:
print(li)

[1, 2, 'parikh', 'abhi']

#slicing of the lists

In [12]:
li[1:3]

[2, 'parikh']

In [13]:
li[1:4]

[2, 'parikh', 'abhi']

In [14]:
li[0:4]

[1, 2, 'parikh', 'abhi']

In [15]:
li[:]

[1, 2, 'parikh', 'abhi']

insert and append element in the list

In [16]:
li.append('rahul') #for inserting at the last

In [17]:
li.insert(1,'nagar')#for inserting at 1 position

In [18]:
li.insert(4,6)

In [19]:
li

[1, 'nagar', 2, 'parikh', 6, 'abhi', 'rahul']

In [20]:
li.append([2,5,4])

In [21]:
li

[1, 'nagar', 2, 'parikh', 6, 'abhi', 'rahul', [2, 5, 4]]

inserting multiple elements

In [22]:
li.extend([2,4,3])

In [23]:
li

[1, 'nagar', 2, 'parikh', 6, 'abhi', 'rahul', [2, 5, 4], 2, 4, 3]

removing elemets from the list

In [24]:
li.remove(2) #if there is multiple 2's then it will remove that is present first

In [25]:
li

[1, 'nagar', 'parikh', 6, 'abhi', 'rahul', [2, 5, 4], 2, 4, 3]

In [26]:
li.pop() #it will remove from the last

3

In [27]:
li

[1, 'nagar', 'parikh', 6, 'abhi', 'rahul', [2, 5, 4], 2, 4]

In [28]:
li.pop(3) #remove the particular index that is 2

6

In [29]:
li

[1, 'nagar', 'parikh', 'abhi', 'rahul', [2, 5, 4], 2, 4]

In [30]:
li=[1,2,"parikh",3.5,6,5,8]

In [31]:
for i in range(len(li)):
    print(li[i])

1
2
parikh
3.5
6
5
8

In [32]:
for i in range (2,len(li)):
    print(li[i])

parikh
3.5
6
5
8

In [33]:
for ele in li:
    print(ele)

1
2
parikh
3.5
6
5
8

In [34]:
for ele in li[2:]:
    print(ele)

parikh
3.5
6
5
8

In [35]:
for i in li[2:4]:
    print(i)

parikh
3.5

Negative indexing and sequence in list

In [36]:
li[0]

1

In [37]:
li[-1]

8

In [38]:
li[-2]

5

In [39]:
li[1:5:2]

[2, 3.5]

In [40]:
li[1:]

[2, 'parikh', 3.5, 6, 5, 8]

In [41]:
li[-2]

5

Taking input in a list

In [42]:
n=int(input())
li=[]
for i in range(n):
    curr=int(input())
    li.append(curr)

In [43]:
li

[4, 5, 5, 5, 5]

In [44]:
for ele in li:
    print(ele)

4
5
5
5
5

In [45]:
for i in li:
    print(i)

4
5
5
5
5

In [46]:
n=int(input())

In [48]:
str=input()

In [49]:
str

'4 4 5 6 5 6 5 6 5 6 5 6 5 6 5 6'

In [50]:
li=[]

In [55]:
str_split=str.split(',')

In [56]:
str_split

['4 4 5 6 5 6 5 6 5 6 5 6 5 6 5 6']

In [57]:
str_split=str.split()

In [58]:
str_split

['4',
 '4',
 '5',
 '6',
 '5',
 '6',
 '5',
 '6',
 '5',
 '6',
 '5',
 '6',
 '5',
 '6',
 '5',
 '6']

In [59]:
for ele in str_split:
    li.append(int(ele))

In [60]:
li

[4, 4, 5, 6, 5, 6, 5, 6, 5, 6, 5, 6, 5, 6, 5, 6]

In [62]:
li=[int(x) for x in input().split()]

In [63]:
li

[1, 2, 3, 5, 4]

In [64]:
for ele in li:
    print(ele)

1
2
3
5
4

In [65]:
n=int(input())
li=[int(x) for x in input().split()]
for ele in li:
    print(ele)

1
2
6
9
7
8

Linear Search

In [66]:
n=int(input())

In [67]:
li=[ int(x) for x in input().split()]

In [68]:
li

[4, 6, 7, 8, 9, 3]

In [72]:
ele=int(input())

In [73]:
isFound=False
for i in range (len(li)):
    if li[i]==ele:
        print(i)
        isFound=True
        break
if  isFound is False:
    print(-1)

-1

In [7]:
#Linear search through function
def linear_search(li,ele):
    for i in range(len(li)):
        if li[i]==ele:
            return i
    return -1

In [9]:


li=[1,2,3,4,5]
index=linear_search(li,7)
print(index)

-1

In [15]:
x=4
y=x
x=5
print(id(x))
print(x)
print(y)

140731663225768
5
4

In [16]:
print(id(y))

140731663225736

In [12]:
z=4
print(id(z))

140731663225736